.create-reservation {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-top: 10%;
    margin-right: 5%;
    margin-bottom: 10em;
    float: right;
}
.create-reservation h2{
    text-align: center;
    /* border: solid #030303d8 5px; */
    color:  rgb(203, 10, 123);
}
.reservation-form {
    border-radius: 5px;
    padding: 10px;
}

.reservation-form label {
    color: #030303d8;
}
.reservation-form input,
textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

.reservation-form textarea,
input:focus {
    outline: none;
}

.reservation-form [type="submit"] {
    width: 100%;
    background-color: rgb(203, 10, 123);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}
.reservation-form [type="button"] {
    width: 100%;
    background-color: rgb(203, 10, 123);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

.reservation-form input[type="submit"]:hover {
background-color: rgb(227, 81, 166);
}

.reservation-form input[type="date"] {
    font-family: inherit;
    font-size: inherit;
}

@media screen and (max-width: 400px) {
    .create-reservation {
        margin-bottom: 15em;
        margin-right: 3%;
    }
}
