.create-form {
    
    padding: 20%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);      
}

@media only screen and (max-width: 600px) {
    .create-form {
        padding: 10%;
    }
}

.hoster-form {
    margin: 4%;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffff;
    opacity: 1;
}

.hoster-form label {
    color: rgb(1, 1, 1);
    margin-left: 10px;
    letter-spacing: 1px;
}

.hoster-form input,
textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

.hoster-form textarea,
input:focus {
    outline: none;
}

.cancel-btn {
    text-decoration: none;
    font-size: inherit;
    width: 30%;
    left : 11rem;
    background-color: rgba(205, 23, 214, 0.698);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    text-align: center;
    float: right;
    margin-right: 4%;
}

.cancel-btn:hover {
    background-color: rgba(144, 7, 151, 0.698);
}

form > input[type="submit"] {
    font-size: inherit;
    width: 30%;
    background-color: rgb(238, 51, 107);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 4%;
}
form > input[type="submit"]:hover {
    background-color: rgb(232, 25, 87);
}
.hoster-form input[type="file"] {
    font-size: inherit;
    color: rgb(149, 145, 145);
    background: white;
}

.hoster-form > select {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
     outline: none;
}

.create-form > h1 {
    font-size: 52px;
  background: -webkit-linear-gradient(rgb(220, 144, 237), rgb(179, 0, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------------------------Photos Demo----------------------------------- */

.mySlides {
    display: none;
    vertical-align: middle;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    opacity: 1;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    margin: auto;
}

.carousel-btn
 {
    z-index: 1;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    position: relative;
    transform: translateY(20rem);
    color: #ffff;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
} 

.carousel-btn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn.prev {float: left;}

.carousel-btn.next {float: right;}

/* -----------------------------Testimonial---------------------------------- */
.create-title {padding: 10%;}


.create-title h1 {
    font-size: 80px;
    color: burlywood;
}

.lets-go-btn {
    background-color: #282628;
    border-radius: 5px;
    padding: 10px 25px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
}

.lets-go-btn:hover {
    background-color: #000000;
    opacity: 1;
}

.message {
    color: red;
    text-align: center;
}

.testimonial {
    padding: 10%;
    background: rgb(4, 4, 4);
    background: linear-gradient(
        0deg,
        rgba(4, 4, 4, 1) 0%,
        rgba(0, 0, 0, 1) 2%,
        rgba(0, 0, 0, 1) 51%,
        rgba(255, 255, 255, 1) 100%
    );
}

.testimonial-card > img {
    width: 50%;
    float: left;
    object-fit: cover;
    margin: 5%;
}

.testimonial-card {
    margin: 10%;
    overflow: hidden;
}
.testimonial-card h2 {
    display: flex;
    padding-top: 5%;
    color: aliceblue;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin: 5%;
}
.testimonial-card p {
    display: flex;
    padding-top: 5%;
    color: aliceblue;
    letter-spacing: 1px;
    word-spacing: 1px;
}

@media only screen and (max-width: 800px) {
    .testimonial-card {
        width: 80%;
    }
    .testimonial-card h2,
    p {
        padding-top: 8%;
    }
    .testimonial-card img {
        float: right;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .slideshow-container {
        max-width: 100%;
        margin: 10%;
    }
    .slideshow-container > img {
        max-width: 100%;
        
    }
    .mySlides {
        width: 100%;
        max-height: 200px;
    }
    .carousel-btn {
        transform: translateY(8rem);
        font-size: 1.5rem;

    }
}

@media only screen and (max-width: 600px) {
    .create-title h1 {
        font-size: 30px;
        margin: 0;
    }
    .create-title {
        padding-top: 20%;
    }
    .create-form h1 {
        font-size: 25px;
    }
    .create-form {
        padding: 3%;
        margin-bottom:20% ;
    }
}
