.create-reservation {
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 16px;
    border-radius: 12px;
    margin-top: 90%; /* to be adjusted after the show styling  */
    max-height: 32em;
   
}

.reservation-form {
    border-radius: 5px;
    padding: 10px;
}

.reservation-form label {
    color: #030303d8;
}
.reservation-form input,
textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

.reservation-form textarea,
input:focus {
    outline: none;
}
.reservation-form [type="submit"] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reservation-form input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.698);
}

.reservation-form input[type="date"] {
    font-family: inherit;
}
