
.edit-form {
    margin: auto;
    width: 50%;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 8%;
}

@media only screen and (max-width: 600px) {
    .edit-form {
        width: 90%;
        margin-bottom: 12%;
    }
}

.edit-form img {
    margin-top: 2%;
    width: 100%;
}