
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #eee;
    padding: 10px;
    bottom: 0;
    font-variant-caps: titling-caps;
}
.footer span {
    
    color: #ff4400;
}