.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 15px;
    padding: 15px;
    padding-bottom: 10%;
}
.grid-card {
    border-radius: 10px;
    background-color: #c308f7b4;
}

.grid-card a {
    text-decoration: none;
    color: black;
}

.grid-card i {
    font-size: 15px;
    color: grey;
    letter-spacing: 10px;
}

.house-cards {
    border-radius: 10px;
    padding: 10px;
}

.house-cards span {
    color: grey;
}

.grid-card:hover {
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    transition: all;
}

.house-cards img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
