.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 15px;
    padding: 15px;
    padding-bottom: 10%;
}
.grid-card {
    border-radius: 10px;
}

.grid-card a {
    text-decoration: none;
    color: black;
}

.grid-card i {
    font-size: 15px;
    color: grey;

}

.house-cards {
    border-radius: 10px;
    padding: 10px;
    /* background-color: rgb(255, 255, 127);c */
}

.grid-card:hover {
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    transition: all;
}

.house-cards img {
    width: 100%;
    border-radius: 8px;
}

