.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 15px;
    padding: 15px;
    padding-top: 10%;
    padding-bottom: 10%;
}
@media screen and (max-width: 600px) {
    .container {
        padding-top: 20%;
        padding-bottom: 20%;
        
    }
}
.grid-card {
    border-radius: 10px;
    box-shadow: 4px 8px 8px 4px hsl(0deg 0% 0% / 0.38);
}

.house-cards {
    border-radius: 10px;
    padding: 10px;
    
}
.grid-card a {
    text-decoration: none;
    color: black;
}

.grid-card i {
    font-size: 15px;
    color: rgb(211, 48, 232);
    letter-spacing: 10px;
}

.house-cards h4 {

    text-align-last: center;
}
.house-cards span {
    color: rgb(37, 35, 35);
}

/* .grid-card:hover {
    box-shadow: 8px 16px 16px 10px hsl(0deg 0% 0% / 0.38);
    transition: all;
} */

.house-cards img {
    width: 100%;
    border-radius: 6px;
    max-height: 200px;
    object-fit: cover;
    vertical-align: bottom;
    transition: 1s;
    opacity: 1;
    cursor: pointer;
}
