.login {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 70px;
}




.google-btn {
    text-decoration: none;
    border:  solid rgb(41, 13, 223) 20px;
    background-color: rgb(12, 27, 11);
    color: #fff;
    padding: 14px 20px;
    border: none;
    width: 100%;
    font-size: inherit;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    width: 80%;
} 

.login > form {
    border: 10px solid #fff;
    border-radius: 10px;
    width: 40%;
}

.login input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login button {
    background-color: #ec05f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: inherit;
    border-radius: 100px;
}

.login button:hover {
    opacity: 1;
    background-color: #000;
}

.login .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #888;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.form-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 400px) {
    span.psw {
        display: block;
        float: none;
    }
    .login .cancelbtn {
        width: 100%;
    }
    .login > form {
        width: 80%;
    }
}

.close { 
    left: 205px;
    font-weight: bold; 
    top: 0;
    color: #000;
    font-size: 25px;
    float: right;

  }

  .close:hover,
.close:focus {
  color: #605c5c;
  cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }