.manage {
    padding: 20px;
}
.manage h2 {
    color: grey;
    padding-top: 10%;
}

.manage > .manage-msg {
    padding: 25px 25px;
    max-width: 60%;
}
.manage-msg {
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 4px 8px 8px 4px hsl(0deg 0% 0% / 0.38);
    border-radius: 10px;
    letter-spacing: 0.8px;
}

.manage-msg > h3 {
    color: #d609d6;
    padding-top: 0;
}
.manage-msg > p {
    color: #020101;
    padding-top: 0;
}

.manage-msg > a {
    background-color: #f308f3;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 5%;
}

.manage-msg > a:hover {
    background-color: #9d089d;
    color: #f2f2f2;
}

@media screen and (max-width: 400px) {
    .manage > .manage-msg {
        max-width: 100%;
        align-items: center;
    }
    .manage-msg {
        width: 100%;
        padding: 15px;
        box-shadow: 4px 8px 8px 4px hsl(0deg 0% 0% / 0.38);
        border-radius: 10px;
        letter-spacing: 1px;
    }
    .manage-msg > a {
        display: block;
        width: 60%;
        margin: 8%;
    }
}

.host-table {
    border-collapse: collapse;
    width: 100%;
}

.host-table td,
.host-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.host-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.host-table tr:hover {
    background-color: #ddd;
}

.host-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #020101;
    color: white;
}

.manage-btn {
    background-color: #000;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.edit {
    background-color: #f308f3;
}
.reservation-status {
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 4px 8px 8px 4px hsl(0deg 0% 0% / 0.38);
    border-radius: 10px;
}
.reservation-status > form {
    display: inline;
    width: 100%;
}

form > .refuse-btn {
    float: right;
}
.reservation-status > h2 {
    color: #020101;
    padding-top: 0;
}
.refuse-btn {
    background-color: #020101;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
}
.confirm-btn {
    background-color: #f308f3;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
}
.reservation-status img {
    width: 100%;
    border-radius: 6px;
    max-height: 300px;
    object-fit: cover;
    vertical-align: bottom;
    transition: 1s;
    opacity: 1;
    cursor: pointer;
}
