.navbar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: solid #ffff 0.5px;
}

.main-logo {
    opacity: 1;
    width: 60px;
    filter: saturate(8);
    padding-top: 12px;
    transform: rotate(200deg);
}

.dropdown {
    float: right;
    position: relative;
}

.drop-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #ffff;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #ddd;
}

.navigatin-avatar {
    padding: 6px;
    font-size: 24px;
    border: solid #ddd 2px;
    cursor: pointer;
    border-radius: 45px;
}

.navigatin-avatar:hover {
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.show {
    display: block;
}

.fa-thin {
    font-size: 30px;
    color: grey;
}

.fa-bars {
    font-size: 24px;
    color: grey;
}

.search-form {
    margin: auto;
    width: min(35%, 255px);
}
.search-form input[type="text"] {
    padding: 4px 12px;
    font-size: 17px;
    border: 1px solid rgba(140, 136, 136, 0.904);
    float: left;
    width: 80%;
    border-right: none; /* Prevent double borders */
    border-radius: 50px 0px 0px 50px;
}

.search-form button:hover {
    background: #020303;
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    float: left;
    width: 20%;
    padding: 4px 12px;
    background: rgb(211, 48, 232);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /*Prevent double borders */
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
}

.logout-form  > input[type=submit] {
    width: 100%;
    background-color: white;
    color: inherit;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: inherit;
    text-align: left;

  }
  
  input[type=submit]:hover {
    background-color:black;
    color: white;
  }
  