.show-container {
    padding: 15px;
    padding-bottom: 10%;
    padding-top: 10%;
}

.show-card > h2 {
    padding-left: 5%;
}
.show-card > p {
    text-decoration: underline;
    padding-left: 5%;
}

.show-item {
    box-shadow: 4px 8px 16px 9px rgba(0, 0, 0, 0.2);
    float: left;
    width: 100%;
    transition: 0.3s;
    border-radius: 15px 15px 25px 25px;
}
.show-item > h3 {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}

.show-item > h4 {
    color: #545b61;
    display: flex;
    margin: 20px;
    letter-spacing: 0.5px;
    word-spacing: 0.8px;
    font-weight: lighter;
}
.show-item img {
    float: right;
    width: 50%;
    border-radius: 0 15px 15px 0;
    opacity: 1;
    max-height: 300px;
    object-fit: cover;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .show-card > h2 {
        padding-top: 8%;
    }
}

@media screen and (max-width: 600px) {
    .show-item {
        margin-bottom: 15%;
        width: 100%;
    }
    .show-item img {
        border-radius: 10px 10px 0 0;
        float: right;
        width: 100%;
        margin-bottom: 10%;
    }
}
