.show-container {
    padding: 15px;
    padding-bottom: 10%;
    padding-top: 10%;
}

.show-card > h2 {
    padding-left: 5%;
}
.show-card > p {
    text-decoration: underline;
    padding-left: 5%;
}
.show-item {
    float: left;
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px 15px 25px 25px;
}
.show-item >
h3 {
    display: flex;
}

.show-item > h4 {
    display: flex;
    padding: 15px;  /* should be set to 8 on medieum media */
    color: rgb(21, 20, 20);
    font-weight: 400;
}
.show-item img {
    float: right;
    width: 50%;
    object-fit: cover;
    max-height: 300px;
    border-radius: 0 15px 15px 0;
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .show-card > h2 {
        padding-top: 8%;
    }
}

@media screen and (max-width: 600px) {
    .show-item {
        margin-bottom: 15%;
        width: 100%;
    }
    .show-item img {
        border-radius: 10px 10px 0 0;
        float: right;
        width: 100%;
        margin-bottom: 10%;
    }
}
