.show-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 15px;
    padding-bottom: 10%;
    padding-top: 10%;
}

@media screen and (max-width: 600px) {
    .show-container {
        grid-template-columns: 1fr;
        
    }
}

.show-card {
    width: 100%;
    min-height: 100%;
    padding: 16px;
}

.show-item {
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}



.show-item img {
    width: 90%;
    opacity: 1;
    border-radius: 2%;
    max-height: 500px;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
}
 /* .show-card img:hover {
    filter: brightness(75%);
}  */
